// Réglage Link Design 
.navbar a { 
    text-decoration: none ;
    margin-right: 20px;
    color: white;
}

.navbar a:hover { 
    text-decoration: underline ;
}
// Design Link Design 

.navbar {
    background-color: #00163b;
}

.navbar-toggler-icon {
    color: white;
}